body{
  color: white;
  font-size: 50px;
  background-color: #001111;
}

.outline{
  border: 1px solid white;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
}

.name{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
}
.cards{
  font-size: 30px;
  display: flex;
}

.card{
  display: block;
  width: 40px;
  border: 1px solid white;
  border-radius: 3px;
  margin: 2px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
